{% extends 'main.html' %}
{% block content %}

            <div class="slide">
              <div class="content fourth-content t10">
                  <div class="container-fluid">
                      <div class="row">
                        {% for i in blogs %}
                        <!-- {{i.article_header}}
                        {{i.article_description}} -->
                        
                        
                          <div class="col-md-4 col-sm-6">
                              <div class="item">
                                    <div class="thumb">
                                        <a href="/{{ i.id }}/"><div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>{{i.article_header}}</h2>
                                            </div>
                                        </div></a>
                                        <div class="image">
                                            {% if i.article_banner is not None %}
                                            <img src='{{ i.article_banner.url }}' alt="Image" class="img-fluid" />
                                            {% endif %}
                                        </div>
                                    </div>
                              </div>
                          </div>
                        {% endfor %}
                      </div>
                  </div>
              </div>
            </div>
{% endblock %}