{% extends 'main.html' %}
{% block content %}
<div class="slide" id="3">
    <div class="content third-content t10">
        <div class="container-fluid">
            <div class="col-md-12">
                
                <div class="container">
                    <div class="first-section">
                        <div class="col-md-6   ">
                            <div class="article-head">
                                <div class="main-content">
                                    <h2>{{ post.article_header }}</h2>
                                    <p>{{ post.article_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="first-section">                        
                        <div class="container-fluid">                            
                            <div class="row">                                
                                <div class="col-md-6   ">
                                    <div class="left-content">
                                        <h2>{{ post.first_header }}</h2>
                                        <p>{{ post.first_description }}</p>
                                        
                                    </div>
                                </div>  
                                <div class="col-md-6   ">
                                    <div class="right-image mt-5">
                                        <img src='{{ post.first_image.url }}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6   ">
                                    <div class="left-image mt-5">
                                        <img src="{{ post.second_image.url }}" alt="second service">
                                    </div>
                                </div>
                                <div class="col-md-6   ">
                                    <div class="right-content">
                                        <h2>{{ post.second_header }}</h2>
                                        <p>{{ post.second_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="first-section">                        
                        <div class="container-fluid">                            
                            <div class="row">                                
                                <div class="col-md-6   ">
                                    <div class="left-content">
                                        <h2>{{ post.third_header }}</h2>
                                        <p>{{ post.third_description }}</p>
                                        
                                    </div>
                                </div>  
                                <div class="col-md-6   ">
                                    <div class="right-image mt-5">
                                        <img src='{{ post.third_image.url }}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6   ">
                                    <div class="left-image mt-5">
                                        <img src="{{ post.fourth_image.url }}" alt="second service">
                                    </div>
                                </div>
                                <div class="col-md-6   ">
                                    <div class="right-content">
                                        <h2>{{ post.fourth_header }}</h2>
                                        <p>{{ post.fourth_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="first-section">                        
                        <div class="container-fluid">                            
                            <div class="row">                                
                                <div class="col-md-6   ">
                                    <div class="left-content">
                                        <h2>{{ post.fifth_header }}</h2>
                                        <p>{{ post.fifth_description }}</p>
                                        
                                    </div>
                                </div>  
                                <div class="col-md-6   ">
                                    <div class="right-image mt-5">
                                        <img src='{{ post.fifth_image.url }}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6   ">
                                    <div class="left-image mt-5">
                                        <img src="{{ post.sixth_image.url }}" alt="second service">
                                    </div>
                                </div>
                                <div class="col-md-6   ">
                                    <div class="right-content">
                                        <h2>{{ post.sixth_header }}</h2>
                                        <p>{{ post.sixth_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="first-section">                        
                        <div class="container-fluid">                            
                            <div class="row">                                
                                <div class="col-md-6   ">
                                    <div class="left-content">
                                        <h2>{{ post.seventh_header }}</h2>
                                        <p>{{ post.seventh_description }}</p>
                                        
                                    </div>
                                </div>  
                                <div class="col-md-6   ">
                                    <div class="right-image mt-5">
                                        <img src='{{ post.seventh_image.url }}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6   ">
                                    <div class="left-image mt-5">
                                        <img src="{{ post.eighth_image.url }}" alt="second service">
                                    </div>
                                </div>
                                <div class="col-md-6   ">
                                    <div class="right-content">
                                        <h2>{{ post.eighth_header }}</h2>
                                        <p>{{ post.eighth_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                    <div class="first-section">                        
                        <div class="container-fluid">                            
                            <div class="row">                                
                                <div class="col-md-6   ">
                                    <div class="left-content">
                                        <h2>{{ post.ninth_header }}</h2>
                                        <p>{{ post.ninth_description }}</p>
                                        
                                    </div>
                                </div>  
                                <div class="col-md-6   ">
                                    <div class="right-image mt-5">
                                        <img src='{{ post.ninth_image.url }}'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6   ">
                                    <div class="left-image mt-5">
                                        <img src="{{ post.tenth_image.url }}"  alt="second service">
                                    </div>
                                </div>
                                <div class="col-md-6   ">
                                    <div class="right-content">
                                        <h2>{{ post.tenth_header }}</h2>
                                        <p>{{ post.tenth_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}